In [31]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [32]:
FILEPATH = "./FM 2023.csv"
dataset = pd.read_csv(FILEPATH)

dataset.head(5)

,Name,Position,Age,ca,pa,Nationality,Club,Corners,Crossing,Dribbling,...,World reputation,Race,RCA,Colour of skin,Date of birth,Number of national team appearances,Goals scored for the national team,Salary,Rental club,UID
0,Kevin De Bruyne,M/AM RLC,31,189,189,Belgium,Manchester City,14,19,15,...,9400,Northern_European,181,4,1991/6/28,91,24,394372.0,NaN,18004457
1,Kylian Mbappé,AM/S RL,23,188,197,France,Paris Saint-Germain,13,13,18,...,9248,African_Caribbean,172,13,1998/12/20,57,27,1035616.0,NaN,85139014
2,Robert Lewandowski,S,33,186,190,Poland,Barcelona,3,8,13,...,9250,Northern_European,183,3,1988/8/21,132,76,345204.0,NaN,719601
3,Erling Haaland,S,22,185,195,"Norway,England",Manchester City,7,10,14,...,8750,Northern_European,185,2,2000/7/21,21,20,394372.0,NaN,29179241
4,Mohamed Salah,AM/S RL,30,185,187,Egypt,Liverpool,12,14,17,...,8750,North_African__Middle_Eastern,181,9,1992/6/15,85,47,405971.0,NaN,98028755

# Exploratory Analysis

In [33]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8452 entries, 0 to 8451
Data columns (total 98 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Name                                 8452 non-null   object
 1   Position                             8452 non-null   object
 2   Age                                  8452 non-null   int64
 3   ca                                   8452 non-null   int64
 4   pa                                   8452 non-null   int64
 5   Nationality                          8452 non-null   object
 6   Club                                 8345 non-null   object
 7   Corners                              8452 non-null   int64
 8   Crossing                             8452 non-null   int64
 9   Dribbling                            8452 non-null   int64
 10  Finishing                            8452 non-null   int64
 11  First Touch                          8452 non-null   int64
 12  Free Kick Taking                     8452 non-null   int64
 13  Heading                              8452 non-null   int64
 14  Long Shots                           8452 non-null   int64
 15  Long Throws                          8452 non-null   int64
 16  Marking                              8452 non-null   int64
 17  Passing                              8452 non-null   int64
 18  Penalty Taking                       8452 non-null   int64
 19  Tackling                             8452 non-null   int64
 20  Technique                            8452 non-null   int64
 21  Aggressiion                          8452 non-null   int64
 22  Anticipation                         8452 non-null   int64
 23  Bravery                              8452 non-null   int64
 24  Composure                            8452 non-null   int64
 25  Concentration                        8452 non-null   int64
 26  Vision                               8452 non-null   int64
 27  Decision                             8452 non-null   int64
 28  Determination                        8452 non-null   int64
 29  Flair                                8452 non-null   int64
 30  Leadership                           8452 non-null   int64
 31  Off The Ball                         8452 non-null   int64
 32  Position.1                           8452 non-null   int64
 33  Teamwork                             8452 non-null   int64
 34  Work Rate                            8452 non-null   int64
 35  Acceleration                         8452 non-null   int64
 36  Agility                              8452 non-null   int64
 37  Balance                              8452 non-null   int64
 38  Jumping Reach                        8452 non-null   int64
 39  Natural Fitness                      8452 non-null   int64
 40  Pace                                 8452 non-null   int64
 41  Stamina                              8452 non-null   int64
 42  Strength                             8452 non-null   int64
 43  Stability                            8452 non-null   int64
 44  Foul                                 8452 non-null   int64
 45  Contest performance                  8452 non-null   int64
 46  Injury                               8452 non-null   int64
 47  diversity                            8452 non-null   int64
 48  Aerial Reach                         8452 non-null   int64
 49  Command Of Area                      8452 non-null   int64
 50  Communication                        8452 non-null   int64
 51  Eccentricity                         8452 non-null   int64
 52  Handling                             8452 non-null   int64
 53  Kicking                              8452 non-null   int64
 54  One On Ones                          8452 non-null   int64
 55  Reflexes                             8452 non-null   int64
 56  Rushing Out                          8452 non-null   int64
 57  Punching                             8452 non-null   int64
 58  Throwing                             8452 non-null   int64
 59  Adaptation                           8452 non-null   int64
 60  Ambition                             8452 non-null   int64
 61  Argue                                8452 non-null   int64
 62  Loyal                                8452 non-null   int64
 63  Resistant to stress                  8452 non-null   int64
 64  Professional                         8452 non-null   int64
 65  Sportsmanship                        8452 non-null   int64
 66  Emotional control                    8452 non-null   int64
 67  GK                                   8452 non-null   int64
 68  DL                                   8452 non-null   int64
 69  DC                                   8452 non-null   int64
 70  DR                                   8452 non-null   int64
 71  WBL                                  8452 non-null   int64
 72  WBR                                  8452 non-null   int64
 73  DM                                   8452 non-null   int64
 74  ML                                   8452 non-null   int64
 75  MC                                   8452 non-null   int64
 76  MR                                   8452 non-null   int64
 77  AML                                  8452 non-null   int64
 78  AMC                                  8452 non-null   int64
 79  AMR                                  8452 non-null   int64
 80  ST                                   8452 non-null   int64
 81  Height                               8452 non-null   int64
 82  Weight                               8452 non-null   int64
 83  Left Foot                            8452 non-null   int64
 84  Right Foot                           8452 non-null   int64
 85  Values                               8452 non-null   int64
 86  Current reputation                   8452 non-null   int64
 87  Domestic reputation                  8452 non-null   int64
 88  World reputation                     8452 non-null   int64
 89  Race                                 8452 non-null   object
 90  RCA                                  8452 non-null   int64
 91  Colour of skin                       8452 non-null   int64
 92  Date of birth                        8452 non-null   object
 93  Number of national team appearances  8452 non-null   int64
 94  Goals scored for the national team   8452 non-null   int64
 95  Salary                               8345 non-null   float64
 96  Rental club                          995 non-null    object
 97  UID                                  8452 non-null   int64
dtypes: float64(1), int64(90), object(7)
memory usage: 6.3+ MB

In [34]:
dataset.shape

(8452, 98)

In [35]:
dataset.isnull().sum()

Name                                      0
Position                                  0
Age                                       0
ca                                        0
pa                                        0
                                       ...
Number of national team appearances       0
Goals scored for the national team        0
Salary                                  107
Rental club                            7457
UID                                       0
Length: 98, dtype: int64

In [36]:
dataset[dataset['Club'] == "FLU"]

,Name,Position,Age,ca,pa,Nationality,Club,Corners,Crossing,Dribbling,...,World reputation,Race,RCA,Colour of skin,Date of birth,Number of national team appearances,Goals scored for the national team,Salary,Rental club,UID
1071,Ganso,M/AM C,32,135,150,Brazil,FLU,13,14,16,...,4011,Mediterranean_Hispanic,132,4,1989/10/12,8,0,17891.0,NaN,19028171
1224,Germán Cano,S,34,135,138,Argentina,FLU,6,12,13,...,4488,Mediterranean_Hispanic,132,7,1988/2/2,0,0,22363.0,NaN,14003037
1322,Jhon Arias,AM RLC,24,134,135,Colombia,FLU,13,14,15,...,3805,African_Caribbean,132,13,1997/9/21,1,0,8945.0,NaN,76053760
1381,Nino,D C,25,133,144,Brazil,FLU,7,9,12,...,4160,Mediterranean_Hispanic,133,5,1997/4/10,0,0,27014.0,NaN,19261503
1497,André,DM/M C,21,132,158,Brazil,FLU,7,8,12,...,3566,Mediterranean_Hispanic,130,11,2001/7/16,0,0,14497.0,NaN,19375640
1503,Manoel,D C,32,132,137,Brazil,FLU,7,8,10,...,3933,African_Caribbean,131,16,1990/2/26,0,0,17891.0,NaN,19096552
2422,Felipe Melo,D/DM/M C,38,128,158,"Brazil,Spain",FLU,5,8,9,...,4242,Mixed_Race,119,12,1983/8/26,22,2,22363.0,NaN,315109
2540,Fábio,GK,41,127,154,"Brazil,Italy",FLU,1,5,10,...,4174,Mediterranean_Hispanic,130,3,1980/9/30,0,0,8945.0,NaN,303204
2745,Willian1,AM/S RL,35,127,140,Brazil,FLU,12,12,15,...,3271,Mediterranean_Hispanic,124,4,1986/11/19,0,0,20127.0,NaN,2100325
2791,Samuel Xavier,D/DM RLC,32,126,129,Brazil,FLU,11,13,12,...,3182,Mixed_Race,121,11,1990/6/6,0,0,7774.0,NaN,19100038
2808,Marcos Felipe,GK,26,126,130,Brazil,FLU,7,2,3,...,2683,Mediterranean_Hispanic,119,6,1996/4/13,0,0,2915.0,NaN,19189746
3015,Michel Araújo,AM/S RL,25,126,130,Uruguay,FLU,11,12,16,...,3256,Mediterranean_Hispanic,122,9,1996/9/28,0,0,6167.0,NaN,78082187
3131,Caio Paulista,AM RL,24,125,131,Brazil,FLU,11,12,15,...,3037,African_Caribbean,124,15,1998/5/11,0,0,9254.0,NaN,19261679
3267,Yago Felipe,M/AM RC,27,125,134,Brazil,FLU,12,11,12,...,2756,Mediterranean_Hispanic,126,6,1995/2/3,0,0,9254.0,NaN,19193050
3277,Wellington,DM/M C,31,125,132,Brazil,FLU,8,9,11,...,3456,African_Caribbean,125,14,1991/1/28,0,0,8746.0,NaN,19038042
3363,David Braz,D C,35,125,135,Brazil,FLU,8,9,11,...,4241,African_Caribbean,125,15,1987/5/21,0,0,8045.0,NaN,2111732
3671,Calegari,D/DM R,20,124,138,Brazil,FLU,12,13,14,...,2883,Mediterranean_Hispanic,124,11,2002/2/27,0,0,8637.0,NaN,19392884
3998,David Duarte,D C,28,123,125,Brazil,FLU,6,6,7,...,2797,African_Caribbean,124,12,1994/1/24,0,0,8019.0,NaN,19273581
4560,Alan,S RL,33,122,142,"China PR,Brazil",FLU,9,10,14,...,6000,Mixed_Race,121,9,1989/7/10,10,3,7400.0,NaN,19010155
4682,Gabriel Teixeira,AM LC,21,122,136,Brazil,FLU,11,8,15,...,2353,Mediterranean_Hispanic,121,9,2001/4/1,0,0,7400.0,GRE,2000086485
4749,Yuri1,DM,27,122,132,Brazil,FLU,8,8,11,...,2867,Mixed_Race,122,9,1994/8/5,0,0,7400.0,JUV,19228542
5470,Martinelli,DM/M C,20,120,140,Brazil,FLU,10,8,14,...,2504,Mediterranean_Hispanic,116,8,2001/10/5,0,0,6167.0,NaN,19406135
5560,Danilo Barcelos,WB/M L,30,120,130,Brazil,FLU,14,12,10,...,2935,Mediterranean_Hispanic,117,6,1991/8/17,0,0,32032.0,GOI,19125412
6097,Matheus Martins,AM RL,19,116,-8,Brazil,FLU,7,12,14,...,1942,Mixed_Race,107,8,2003/7/16,0,0,4315.0,NaN,19400560
6701,John Kennedy,S L,20,109,136,Brazil,FLU,6,8,11,...,1912,African_Caribbean,99,14,2002/5/18,0,0,1484.0,NaN,19400559
7849,Arthur1,AM RC,17,87,-85,Brazil,FLU,11,9,12,...,750,Northern_European,92,8,2005/2/24,0,0,297.0,NaN,2000085909
7860,Kayky Almeida,D C,17,87,-75,Brazil,FLU,3,8,10,...,750,Mixed_Race,85,14,2005/5/1,0,0,297.0,NaN,2000117762
8045,Esquerdinha,D/WB L,16,83,-8,Brazil,FLU,6,8,12,...,750,Mixed_Race,74,15,2006/2/28,0,0,181.0,NaN,2000218798
8061,Jefté,D/WB L,18,82,-75,Brazil,FLU,4,10,13,...,678,Mediterranean_Hispanic,73,10,2003/12/21,0,0,152.0,NaN,2000079323
8063,Kauã Brasília,AM C,16,82,-8,Brazil,FLU,8,8,15,...,750,Mixed_Race,86,13,2006/3/5,0,0,152.0,NaN,2000205369
8141,Kauã Elias,S,16,80,-75,Brazil,FLU,6,5,10,...,250,African_Caribbean,72,8,2006/3/28,0,0,94.0,NaN,2000219701

# Data Cleaning

***Cleaning the data for creating a model to predict the Player CA***

In [37]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8452 entries, 0 to 8451
Data columns (total 98 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Name                                 8452 non-null   object
 1   Position                             8452 non-null   object
 2   Age                                  8452 non-null   int64
 3   ca                                   8452 non-null   int64
 4   pa                                   8452 non-null   int64
 5   Nationality                          8452 non-null   object
 6   Club                                 8345 non-null   object
 7   Corners                              8452 non-null   int64
 8   Crossing                             8452 non-null   int64
 9   Dribbling                            8452 non-null   int64
 10  Finishing                            8452 non-null   int64
 11  First Touch                          8452 non-null   int64
 12  Free Kick Taking                     8452 non-null   int64
 13  Heading                              8452 non-null   int64
 14  Long Shots                           8452 non-null   int64
 15  Long Throws                          8452 non-null   int64
 16  Marking                              8452 non-null   int64
 17  Passing                              8452 non-null   int64
 18  Penalty Taking                       8452 non-null   int64
 19  Tackling                             8452 non-null   int64
 20  Technique                            8452 non-null   int64
 21  Aggressiion                          8452 non-null   int64
 22  Anticipation                         8452 non-null   int64
 23  Bravery                              8452 non-null   int64
 24  Composure                            8452 non-null   int64
 25  Concentration                        8452 non-null   int64
 26  Vision                               8452 non-null   int64
 27  Decision                             8452 non-null   int64
 28  Determination                        8452 non-null   int64
 29  Flair                                8452 non-null   int64
 30  Leadership                           8452 non-null   int64
 31  Off The Ball                         8452 non-null   int64
 32  Position.1                           8452 non-null   int64
 33  Teamwork                             8452 non-null   int64
 34  Work Rate                            8452 non-null   int64
 35  Acceleration                         8452 non-null   int64
 36  Agility                              8452 non-null   int64
 37  Balance                              8452 non-null   int64
 38  Jumping Reach                        8452 non-null   int64
 39  Natural Fitness                      8452 non-null   int64
 40  Pace                                 8452 non-null   int64
 41  Stamina                              8452 non-null   int64
 42  Strength                             8452 non-null   int64
 43  Stability                            8452 non-null   int64
 44  Foul                                 8452 non-null   int64
 45  Contest performance                  8452 non-null   int64
 46  Injury                               8452 non-null   int64
 47  diversity                            8452 non-null   int64
 48  Aerial Reach                         8452 non-null   int64
 49  Command Of Area                      8452 non-null   int64
 50  Communication                        8452 non-null   int64
 51  Eccentricity                         8452 non-null   int64
 52  Handling                             8452 non-null   int64
 53  Kicking                              8452 non-null   int64
 54  One On Ones                          8452 non-null   int64
 55  Reflexes                             8452 non-null   int64
 56  Rushing Out                          8452 non-null   int64
 57  Punching                             8452 non-null   int64
 58  Throwing                             8452 non-null   int64
 59  Adaptation                           8452 non-null   int64
 60  Ambition                             8452 non-null   int64
 61  Argue                                8452 non-null   int64
 62  Loyal                                8452 non-null   int64
 63  Resistant to stress                  8452 non-null   int64
 64  Professional                         8452 non-null   int64
 65  Sportsmanship                        8452 non-null   int64
 66  Emotional control                    8452 non-null   int64
 67  GK                                   8452 non-null   int64
 68  DL                                   8452 non-null   int64
 69  DC                                   8452 non-null   int64
 70  DR                                   8452 non-null   int64
 71  WBL                                  8452 non-null   int64
 72  WBR                                  8452 non-null   int64
 73  DM                                   8452 non-null   int64
 74  ML                                   8452 non-null   int64
 75  MC                                   8452 non-null   int64
 76  MR                                   8452 non-null   int64
 77  AML                                  8452 non-null   int64
 78  AMC                                  8452 non-null   int64
 79  AMR                                  8452 non-null   int64
 80  ST                                   8452 non-null   int64
 81  Height                               8452 non-null   int64
 82  Weight                               8452 non-null   int64
 83  Left Foot                            8452 non-null   int64
 84  Right Foot                           8452 non-null   int64
 85  Values                               8452 non-null   int64
 86  Current reputation                   8452 non-null   int64
 87  Domestic reputation                  8452 non-null   int64
 88  World reputation                     8452 non-null   int64
 89  Race                                 8452 non-null   object
 90  RCA                                  8452 non-null   int64
 91  Colour of skin                       8452 non-null   int64
 92  Date of birth                        8452 non-null   object
 93  Number of national team appearances  8452 non-null   int64
 94  Goals scored for the national team   8452 non-null   int64
 95  Salary                               8345 non-null   float64
 96  Rental club                          995 non-null    object
 97  UID                                  8452 non-null   int64
dtypes: float64(1), int64(90), object(7)
memory usage: 6.3+ MB

In [38]:
dataset = dataset.drop(columns=["Rental club",
                                "Salary",
                                "Values",
                                "Race",
                                "UID", 
                                "Date of birth",
                                "Colour of skin",
                                "RCA",
                                "Race",
                                "Club",
                                "Nationality",
                                "Name",
                                "Position"
                               ])
dataset.head(5)

,Age,ca,pa,Corners,Crossing,Dribbling,Finishing,First Touch,Free Kick Taking,Heading,...,ST,Height,Weight,Left Foot,Right Foot,Current reputation,Domestic reputation,World reputation,Number of national team appearances,Goals scored for the national team
0,31,189,189,14,19,15,16,16,17,6,...,12,181,68,16,20,9450,9400,9400,91,24
1,23,188,197,13,13,18,17,18,12,7,...,20,178,73,10,20,9398,9398,9248,57,27
2,33,186,190,3,8,13,19,18,15,17,...,20,185,81,13,20,9300,9400,9250,132,76
3,22,185,195,7,10,14,18,16,13,15,...,20,195,88,20,11,9250,9250,8750,21,20
4,30,185,187,12,14,17,17,17,12,10,...,19,175,72,20,8,9400,9445,8750,85,47

In [39]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8452 entries, 0 to 8451
Data columns (total 86 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Age                                  8452 non-null   int64
 1   ca                                   8452 non-null   int64
 2   pa                                   8452 non-null   int64
 3   Corners                              8452 non-null   int64
 4   Crossing                             8452 non-null   int64
 5   Dribbling                            8452 non-null   int64
 6   Finishing                            8452 non-null   int64
 7   First Touch                          8452 non-null   int64
 8   Free Kick Taking                     8452 non-null   int64
 9   Heading                              8452 non-null   int64
 10  Long Shots                           8452 non-null   int64
 11  Long Throws                          8452 non-null   int64
 12  Marking                              8452 non-null   int64
 13  Passing                              8452 non-null   int64
 14  Penalty Taking                       8452 non-null   int64
 15  Tackling                             8452 non-null   int64
 16  Technique                            8452 non-null   int64
 17  Aggressiion                          8452 non-null   int64
 18  Anticipation                         8452 non-null   int64
 19  Bravery                              8452 non-null   int64
 20  Composure                            8452 non-null   int64
 21  Concentration                        8452 non-null   int64
 22  Vision                               8452 non-null   int64
 23  Decision                             8452 non-null   int64
 24  Determination                        8452 non-null   int64
 25  Flair                                8452 non-null   int64
 26  Leadership                           8452 non-null   int64
 27  Off The Ball                         8452 non-null   int64
 28  Position.1                           8452 non-null   int64
 29  Teamwork                             8452 non-null   int64
 30  Work Rate                            8452 non-null   int64
 31  Acceleration                         8452 non-null   int64
 32  Agility                              8452 non-null   int64
 33  Balance                              8452 non-null   int64
 34  Jumping Reach                        8452 non-null   int64
 35  Natural Fitness                      8452 non-null   int64
 36  Pace                                 8452 non-null   int64
 37  Stamina                              8452 non-null   int64
 38  Strength                             8452 non-null   int64
 39  Stability                            8452 non-null   int64
 40  Foul                                 8452 non-null   int64
 41  Contest performance                  8452 non-null   int64
 42  Injury                               8452 non-null   int64
 43  diversity                            8452 non-null   int64
 44  Aerial Reach                         8452 non-null   int64
 45  Command Of Area                      8452 non-null   int64
 46  Communication                        8452 non-null   int64
 47  Eccentricity                         8452 non-null   int64
 48  Handling                             8452 non-null   int64
 49  Kicking                              8452 non-null   int64
 50  One On Ones                          8452 non-null   int64
 51  Reflexes                             8452 non-null   int64
 52  Rushing Out                          8452 non-null   int64
 53  Punching                             8452 non-null   int64
 54  Throwing                             8452 non-null   int64
 55  Adaptation                           8452 non-null   int64
 56  Ambition                             8452 non-null   int64
 57  Argue                                8452 non-null   int64
 58  Loyal                                8452 non-null   int64
 59  Resistant to stress                  8452 non-null   int64
 60  Professional                         8452 non-null   int64
 61  Sportsmanship                        8452 non-null   int64
 62  Emotional control                    8452 non-null   int64
 63  GK                                   8452 non-null   int64
 64  DL                                   8452 non-null   int64
 65  DC                                   8452 non-null   int64
 66  DR                                   8452 non-null   int64
 67  WBL                                  8452 non-null   int64
 68  WBR                                  8452 non-null   int64
 69  DM                                   8452 non-null   int64
 70  ML                                   8452 non-null   int64
 71  MC                                   8452 non-null   int64
 72  MR                                   8452 non-null   int64
 73  AML                                  8452 non-null   int64
 74  AMC                                  8452 non-null   int64
 75  AMR                                  8452 non-null   int64
 76  ST                                   8452 non-null   int64
 77  Height                               8452 non-null   int64
 78  Weight                               8452 non-null   int64
 79  Left Foot                            8452 non-null   int64
 80  Right Foot                           8452 non-null   int64
 81  Current reputation                   8452 non-null   int64
 82  Domestic reputation                  8452 non-null   int64
 83  World reputation                     8452 non-null   int64
 84  Number of national team appearances  8452 non-null   int64
 85  Goals scored for the national team   8452 non-null   int64
dtypes: int64(86)
memory usage: 5.5 MB